/* Sign Up Form */

.signup {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 400px;
}

.signup-form-container {
    border: solid;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.signup .signup-form-container form .signup-input-container {
    /* border: solid; */
    text-align: right;
    width: 50%;
    margin: 0 auto;
    margin-right: 200px;
}

.signup .signup-form-container label {
    margin-right: 8px;
}

.signup .signup-form-container button {
    margin-top: 30px;
}

.signup .signup-form-container input, .signup .signup-form-container label {
    margin-top: 10px;
}