/* main section */

.user {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user img {
    height: 200px;
    border-radius: 50%;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images .image-container {
    margin-bottom: 10px;
}

.images .image-container img {
    height: 300px;
    width: 300px;
}

.images .image-container img:hover {
    opacity: 0.5;
}