.upload {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 500px;
}

.upload img {
    /* border: solid; */
    height: 100px;
    margin: 20px;
    margin-bottom: 50px;
}

.upload .load-circle {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    /* width: 50%; */
}