.user {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user img {
    height: 200px; 
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images .image-container-delete {
    margin-bottom: 10px;
    /* position: relative; */
}

.images .image-container-delete img {
    height: 300px;
    width: 300px;
    /* margin: 20px; */
}

.images .image-container-delete button {
    display: block;
    /* position: absolute; */
    /* margin: 10px; */
}

/* .images .image-container-delete img:hover {
    opacity: 0.5;
} */

