/* header */

header {
    border-bottom: solid;
    background-color:antiquewhite;
    padding: 20px;
}

header nav ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

header nav ul li {
    list-style-type: none;
    margin-right: 70px;
}